@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');


body {
    font-family: 'Jura', sans-serif;
}

header {
    height: 10%;
}

#menu-bar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(103, 101, 101);
    height: 4rem;
}

#logo {
    width: 3rem;
    size: 1px;
    /* background-color:  rgb(103, 101, 101); */
}

.nav-bar-link {
    font-family: 'Jura', sans-serif;
    text-decoration: none;
    padding-top: 1.5rem;
    padding-right: 2rem;
    color: white;
}

.nav-bar-link:hover {
    transform: scale(1.2);
}

#cart-items-container {
    display: flex;
    flex-direction: wrap; 
    flex-wrap: wrap;
}

#cart-item {
    display: block;
    margin: 1rem;
}

#name {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
}

#plugin-image {
    box-shadow: 10px 10px 5px rgb(68, 67, 67);
    display: block;
    margin: 0 auto;
}

.plugin-image {
    margin: 4rem;
    box-shadow: 10px 10px 5px rgb(68, 67, 67);
    height: 30px;
    width: auto;
}
