@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');


body {
    font-family: 'Jura', sans-serif;
}

header {
    height: 10%;
    padding: 2rem;
}

#menu-bar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(103, 101, 101);
    height: 4rem;
}

#logo {
    width: 5rem;
    size: 1px;
}

.nav-bar-link {
    font-family: 'Jura', sans-serif;
    text-decoration: none;
    padding-top: 1.5rem;
    padding-right: 2rem;
    color: white;
}

.nav-bar-link:hover {
    transform: scale(1.2);
}


#plugin-images-container {
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
}

.plugin-image {
    height: 200px;
    width: 350px;
    margin: 4rem;
    box-shadow: 10px 10px 5px rgb(68, 67, 67);
}

.plugin-image:hover {
    transform: scale(1.2);
}

