@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');


body {
    font-family: 'Jura', sans-serif;
}

header {
    height: 10%;
    padding: 2rem;
}

#menu-bar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(103, 101, 101);
}

#logo {
    width: 3rem;
    size: 1px;
    background-color:  rgb(103, 101, 101);
}

#menu-bar > a {
    text-decoration: none;
    padding-top: 1rem;
    padding-right: 2rem;
    color: white;
}

